[2019-01-07 12:18] lmontoute opened #1 "Add neighbor search phase"
Currently, the neighbor search phase for simulation is disabled. This is crucial for performance with higher particle counts. In order to implement we'll need to figure out one of the following:

1. Add and bind an additional read/write buffer (or texture) to the VFX compute shader
2. Somehow use custom attributes to store neighbor information

So far I've (unsuccessfully) experimented with a few

[2019-01-07 22:59] lilyvelour opened #2 "Implement external force and constraint solvers"
Move the external force and constraint solvers from Fluvio to FluvioFX to support:

- Turbulence
- Surface tension
- Buoyancy coefficients
- ~~Particle constraints for stabilizing the simulation~~ currently things are fairly stable with just minimum density; a separate constraint solver seems excessive right now

[2019-01-07 23:44] lilyvelour opened #3 "Add additional integrators"
A while back, we had a focused effort with Fluvio on improving solver stability by utilizing different integration methods. These never shipped to Asset Store users. During our research process, we implemented the following integrators:

- Semi-Implicit Euler (implemented)
~~- Forward Euler~~
- Verlet
- Velocity Verlet
~~- Parker–Sochacki (experimental)~~

Let's look into implementing these integr

[2019-01-07 23:46] lmontoute opened #4 "Add Fluid Effector blocks"
Implement basic fluid effectors into FluvioFX, for applying turbulence to fluids.

[2019-01-07 23:49] lmontoute opened #5 "Add Color by Density/Size by Density blocks"
Implement Color by Density and Size by Density blocks for FluvioFX

[2019-01-07 23:55] lmontoute opened #6 "Fluid rendering"
Currently, we have no renderers other than the default. While this is fine for gasses, we may want to look into providing some examples of nice fluid renders.

I'd love to get additional help with this — most of what we did in the past is available with the VFX graph already, and more is being added like additional buffer availability (see Unity-Technologies/ScriptableRenderPipeline#2709), shader

[2019-01-08 00:26] lilyvelour opened #7 "Multi-fluid simulation"
Explore what options we have for multi-fluid simulation/fluid-fluid interaction with the VFX graph.

The current implementation in Fluvio isn't _that_ great, so we may want to re-think this from the ground up.

[2019-01-09 02:14] lmontoute opened #8 "Use the built-in mass attribute"
Currently, we have a custom particle mass parameter that we provide. Instead, let's set and use the built-in mass attribute. This will also allow us to set per-particle mass in the future (for multi-fluid simulation, see #7 )

[2019-01-09 16:43] lmontoute commented on #6
Going to go ahead and close this.

[From Unity](https://forum.unity.com/threads/feedback-wanted-visual-effect-graph.572110/page-6#post-4079389):

We could look at reopening this if it ends up being really far off, and the nodes needed to implement are available.

[2019-01-09 16:43] #6 closed

[2019-01-14 07:55] Boo0317 opened #9 "FluvioFXInstall.cs"
`.Invoke<UnityEditor.PackageManager.PackageInfo[]>("GetAll");`  on Line 179.
UnityEditor namespace does not contain PackageManager before Unity2017

[2019-01-14 08:52] lmontoute commented on #9
Hi @Boo0317,

Thanks for the report. FluvioFX requires the Package Manager and VFX graph, so only Unity 2018.3+ is supported. I've added this to the README.

[2019-01-14 08:52] #9 closed

[2019-01-14 08:55] lmontoute commented on #3
Updated the list of integrators (we were actually using semi-implicit Euler without a position update for historical reasons). Removed forward Euler as I'm not sure it's worth it...ever.

This is in the works (Verlet and Velocity Verlet are both completed so far). Still on the fence about even including Velocity Verlet, however...

[2019-01-14 09:31] lmontoute commented on #3
Also going to cut P-S for now. While a promising numerical method, the current implementation would likely slow performance down too much with an additional neighbor search.

[2019-01-17 08:23] #2 closed, assigned to lilyvelour

[2019-01-17 08:23] #3 closed, assigned to lilyvelour

[2019-01-18 00:53] lmontoute commented on #5
Instead, I went ahead and added a Density Over Range operator. This can be used to achieve the same functionality from the older Color by Density/Size by Density plugins. Here's an example for thickness, size, and color:

![densityoverrange](https://user-images.githubusercontent.com/1100891/51358518-372c4280-1a89-11e9-9915-32b48a255c36.PNG)

[2019-01-18 01:17] lmontoute opened #12 "Implement boundary collision"
Currently, low-viscosity fluids (like water) are not always stable or incompressible when using Unity's built-in colliders:

![unstable-low-viscosity](https://user-images.githubusercontent.com/1100891/51358652-cafe0e80-1a89-11e9-9878-e856f3617ebd.gif)

Notice how the fluid does not achieve equilibrium, and that excess particles line the boundaries. In order to deal with this issue, we need to acco

[2019-01-20 23:32] #12 closed

[2019-01-20 23:33] #5 closed

[2019-02-05 12:39] lmontoute commented on #4
As mentioned in #14, these won't be implemented (the turbulence property and force has been removed)

[2019-02-05 12:40] #4 closed

[2019-02-05 22:06] #1 closed

[2019-03-14 20:21] CombatVolcano opened #15 "Basic tutorial or anything?"
Even the most basic tutorial which results in any working simulation would just be so great...

[2019-03-14 22:45] MostHated opened #16 "Request : Make repo an actual Unity project (Assets, ProjectSettings, Packages)"
Hey there,
    I would like to request perhaps making the repo an actual Unity project which has the Assets, ProjectSettings, and Packages folder so that when you clone the repo you can open it through Unity hub and it can automatically detect what version of Unity it needs to be and just open it straight away. It makes it much more user-friendly!

Thanks,
-MH

[2019-03-14 23:23] lmontoute commented on #16
Hi MostHated,

Thanks for the feedback! At the moment we'd like to keep this as a package so that it can be pulled from GitHub directly. However there are plans for a separate Unity project with the package and its dependencies preinstalled, along with some example scenes and assets as well. Would this address your needs?

[2019-03-14 23:27] MostHated commented on #16
Heya,
I definitely appreciate the prompt reply. Yes, definitely. That would be perfect. : )

Thanks,
-MH

[2019-03-14 23:31] lmontoute commented on #16
Great, I've renamed the issue and will keep it open for tracking in that case.

[2019-03-15 11:59] andybak commented on #16
I've suggested on the Unity forums that the package manager should support packages in repo subdirectories to solve this exact problem

A single repo could then contain a whole Unity project (making it much easier to quickly try things out) but could easily mark a specific directory as containing a valid package.

If you could add your voice of support here: https://forum.unity.com/threads/git-sup

[2019-03-15 19:12] lmontoute commented on #16
@andybak apparently scoped registries work, and the files imported can be limited. I could look into adding a package to npm and changing the instructions slightly:

https://forum.unity.com/threads/setup-for-scoped-registries-private-registries.573934/#post-3849595

[2019-03-17 10:27] andybak commented on #16
@lmontoute From a brief read up on scoped registries I'm not entirely clear how it relates to this issue. I must be misunderstanding something.

Scoped registries seem to give the ability to add new sources for packages but what features do they add to individual packages that help us here?

[2019-03-18 20:54] lmontoute commented on #16
@andybak

At the moment, Unity doesn't support multiple packages in a git repo. Adding a registry (npm's registry is supported here as well) and having this git repo have two packages would allow me to better version the project. Users would get specific uploaded and versioned packages instead of just pulling from the source here. In addition, this would sidestep the limitation UPM has with fetchi

[2019-03-19 10:35] andybak commented on #16
@lmontoute Thanks - but what *is* an npm registry in this case? Is it just a repo plus some specific config files? I've googled for how to create npm registries and it sounds more complex than that - involving CouchDB and server-side code.

[2019-03-20 07:09] OverwatchJohnson opened #17 "Error while trying to edit"
Hi !

While im trying to edit fluid simulation i have that error in console:

Shader error in '[System 1]E Update': 'max': no matching 3 parameter intrinsic function; Possible intrinsic functions are: max(float|half|double|min10float|min16float|int|uint|min12int|min16int|min16uint, float|half|double|min10float|min16float|int|uint|min12int|min16int|min16uint) at kernel CSMain at System.vfx(76) (on

[2019-03-29 17:58] lmontoute commented on #17
Hm, I haven't seen this one. Would it be possible to send over a few things?

- Unity version, SRP version, VFX graph version
- Your editor platform, target platform, graphics API, and graphics device
- A screenshot of the generated code

This will help tremendously in figuring out if it's an issue specific to some hardware or a problem with code generation.

[2019-04-01 07:19] OverwatchJohnson commented on #17
Hi !

Information below:
- Graphic device: GeForce GTX1080
- Unity Editor Version: 2018.3.9f1
- Target Platform: PC (Windows)
- VFX Graph version: 4.10.0
- HDRP Version: 4.10.0

Error code:
![error_code](https://user-images.githubusercontent.com/29740883/55309806-215ed480-545f-11e9-9054-32e6b373d4e1.PNG)

[2019-04-13 11:12] PeterCsubak commented on #17
Hi @lmontoute !

I've ran into the same problem, and it happens in the `SurfaceNormal` calculation, the line which has the problem, is this:
[code]

And in the same script the `FLUVIO_EPSILON` is defined like this:
[code]

I'm really bad with shaders, but isn't that definition should be `9.999999E-11` with a "dot" instead of a comma? (So it represents a float literal? Or is that means the same thi

[2019-04-13 12:29] PeterCsubak commented on #17
As it turns out that was the problem indeed. So I created a PR with the bugfix.

[2019-04-14 22:15] lmontoute commented on #17
Ah, good find! Merged your PR, so this should be solved on the latest master.

[2019-04-14 22:15] #17 closed

[2019-06-20 20:05] hdacnw opened #19 "Compilation Error"
Compilation fails with the following error message (in console).
[code]
Tried reimporting and reinstalling but the error persists.

* Unity version 2019.3.0a5 on Windows 10
* HDRP version 6.7.1
* VFX graph version 6.7.1
* Graphic device: GeForce GTX950M

Thank you.

[2019-06-22 00:19] SavedByZero opened #20 "hundreds of compilation errors after install"
Here's a few:
[code]
I have hundreds of these.  I've tried installing it on 2019.2 or later and it gives me other errors about some class that's been reformatted into a package for 2019.  I tried again in Unity 2018.4.2 and I get these errors.  Following the readme's advice did not work -- it actually gets worse when I remove that entry from the package.json file, let it uninstall, and then put it

[2019-06-22 00:47] lmontoute commented on #20
Thanks - have not tried 2019.2. Will look into it this weekend.

[2019-06-22 00:48] lmontoute commented on #19
I can't support alphas right now but this seems to happen in .2 as well. Thanks for the report!

[2019-06-22 00:49] lmontoute commented on #19
Duplicate of #20

[2019-06-22 00:49] #19 closed

[2019-06-24 20:10] SavedByZero commented on #20
2018.4.2f1 gives me those errors as well.
They all go away when I remove this line from my manifest:
    "com.thinksquirrel.fluviofx": "https://github.com/thinksquirrel/fluviofx.git",

All of them are "inaccessible due to protection level" errors in the Fluvio code files.  Hope that helps.

[2019-06-25 07:44] lmontoute commented on #20
Understood.

This is likely due to an update in HDRP/VFX breaking FluvioFX. To be expected - we patch the files for VFX system for now (we've been talking with Unity a bit to streamline the process for VFX extensions so that this won't be needed in the future). So we just need to update the FluvioFX installer to match the updates in those packages.

[2019-07-03 00:34] gpoole commented on #16
@andybak a registry is fairly complex as you said, so to run one you need specialised server software. It's pretty much a set of HTTP endpoints that the NPM client talks to for looking up and downloading packages. Artifactory is a server that supports the NPM API and it's what Unity use for their official repo, as @lmontoute mentioned. In the NPM JS world people haven't had to deal with this compl

[2019-07-03 01:10] gpoole opened #21 "Installation problems on 2019.1.8f1"
I had a few problems when I originally installed this on 2019.1.8f1 that I think could be documented in the install steps. If these all make sense I'm happy to open a PR to add notes:

* I got errors saying `The type or namespace name 'Timeline' does not exist in the namespace`, which I was able to stop by installing Cinemachine 2.3. Not sure if that's the right fix or if there was a change in 201

[2019-07-03 06:04] gpoole opened #22 "Package manager startup errors on 2019.1.8f1 on Windows 10"
When I'm opening a project in 2019.1.8f1 with FluvioFX installed I'm often getting `EPERM: operation not permitted` errors related to `VFXCodeGenerator.cs`. If I select quit and reopen Unity a few times it'll eventually work.

![Capture2](https://user-images.githubusercontent.com/2898433/60556425-93a7c380-9d84-11e9-9605-3adc9140c1b3.PNG)

[2019-07-06 00:08] lmontoute commented on #20
Hi @SavedByZero,

Can you give the latest pull request a try and see if that fixes your issue? Note the change with installation instructions as well. You may need to remove and reinstall the needed packages in order to get things working.

[2019-07-06 00:09] lmontoute commented on #21
Hi @gpoole,

Can you give the latest PR a try and see if that fixes your issue? Note the change with installation instructions as well. You may need to remove and reinstall the needed packages in order to get things working.

It should also fix the missing Calculate Forces node in 2019 (once you re-add it, it shouldn't disappear on save).

[2019-07-06 00:10] lmontoute commented on #22
Hi @gpoole,

Can you give the latest PR a try and see if that fixes your issue? Note the change with installation instructions as well. You may need to remove and reinstall the needed packages in order to get things working.

[2019-07-06 00:11] lmontoute commented on #22
I can't reproduce this one, but it _may_ be fixed with #23.

[2019-07-06 00:14] lmontoute commented on #16
At the moment, I'm going to keep this open and see if either a Unity-provided solution or GitHub package registry will work for this project.

[2019-07-06 07:28] gpoole commented on #22
I also didn't have this problem when I tried installing on my Mac, so could it be a Windows-specific problem? I know Windows is a lot more strict with locking files and preventing writes to files while they're being read by other processes, could it be something to do with that?

[2019-07-06 19:21] lmontoute commented on #22
This might be specific to your system. Can you provide more details?

- Windows version
- Do you have anything unique about your project folder structure (is it under a symlink or on a different drive, etc)
- Does this happen with a completely empty (new) project?

[2019-07-08 02:32] gpoole commented on #22
I'm running Windows 10 (1803). There isn't anything unusual I can think of about the setup, no symlinks or drive differences or anything odd. I was able to reproduce it with a new project just now, here's the manifest.json: https://gist.github.com/gpoole/691e900dc4a2b954b1c4c3cc47ea062c If it helps I can also push the whole project up as a repo?

I had more of a poke around and found:
* If I disab

[2019-07-15 19:38] lmontoute commented on #22
Hm, this is likely the case. It could be that marking that as read-only again causes problems on some systems.

I don't think there is any problem with keeping the file writable, to be honest. So I'll just remove that line.

Thanks for troubleshooting this!

[2019-07-15 19:41] lmontoute commented on #22
I've just made and pushed this update. Can you confirm that the PR works as-is? If so I'll go ahead and merge.

[2019-07-16 00:01] gpoole commented on #22
Great, thanks for the fix, yep it's not showing the error anymore when I restart. Very strange, it doesn't seem like setting and unsetting the flag should have mattered.

[2019-07-16 21:55] lmontoute commented on #22
Fixed by #23

[2019-07-16 21:55] #22 closed

[2019-07-16 21:55] lmontoute commented on #21
Fixed by #23

[2019-07-16 21:55] #21 closed

[2019-07-16 21:55] lmontoute commented on #20
Fixed by #23

[2019-07-16 21:55] #20 closed

[2019-07-19 04:35] gpoole opened #24 "Simulation is sensitive to changes in delta time"
I've found that variations or drops in framerate are causing particles to get thrown around.

For example, here's what happens if I manually set `Time.captureFramerate` to a low value like `30`:
![random-framerate](https://user-images.githubusercontent.com/2898433/61503707-1f278280-aa1c-11e9-8ff0-ac9dafd6fbd7.gif)

Whereas setting `Time.captureFramerate` to 60 for the same settings causes everythi

[2019-07-19 10:49] lmontoute commented on #24
Unfortunately, this is be a Unity issue, currently working as intended (odd, I know). I posted about it in detail here:

https://forum.unity.com/threads/feedback-wanted-visual-effect-graph.572110/page-7#post-4130593

Paul from Unity responded here:
https://forum.unity.com/threads/feedback-wanted-visual-effect-graph.572110/page-7#post-4138270

I'd love to get this bumped with another use case, to b

[2019-07-19 15:38] gpoole commented on #24
Ah I see, that makes sense now. Thanks for the background and advice, that's good to know, I'll just have to be careful.

[2019-07-25 16:13] SavedByZero commented on #20
Sorry for the late reply, this has been a back burner research project for me and I got swamped. Anyhow, yes, I can install it now, thanks. Trying to use it afterwards crashes my little MacBook but I should have expected that (I can move the project to my desktop PC).

Looking forward to any examples of how to use it in the future — specifically, I am interested in making a water-through-pipes sty

[2019-07-25 17:24] lmontoute commented on #20
Hm, a macOS crash is actually new to me, do you have problems with the VFX system in general on that MacBook? Personally, my MacBook gets lower performance (as expected) but otherwise runs fine.

This may not be a FluvioFX bug, but I highly recommend reporting the issue to Unity. They've communicated that even though FluvioFX uses experimental features, they can take a look at projects with it tha

[2019-07-31 00:31] twn-box opened #25 "Calculate forces node disappears when graph is saved in Unity 2019.1.8f1"
I thought it was strange when I noticed forces weren't being applied in my simulation and have since realized its because every time I save the graph the "calculate forces" node is removed.

<img width="374" alt="L7HPIsy7e8" src="https://user-images.githubusercontent.com/51932977/62174758-e62ac000-b2ef-11e9-988a-fa61e69445f5.png">

<img width="161" alt="IqbTqI28IV" src="https://user-images.githubu

[2019-08-02 00:29] lmontoute commented on #25
This _should_ be resolved in the latest version. You may need to fully reinstall for things to take effect though.

Let me know if that works for you, since I never nailed down the cause but my update seemed to make it stop. I know it's pretty aggravating :(

[2019-08-02 18:22] twn-box commented on #25
I was able to fix it by copying the folder & opening it as another project!

[2019-08-02 18:22] #25 closed

[2019-09-11 04:51] jvdnbus opened #26 "Unable to install using Unity 2019.2.4f1"
I'm trying to install the package (by adding it to the manifest.json) but Unity throws a bunch of errors. As suggested, I tried the Tools -> FluvioFX -> Install but this throws an exception as well.

Here it is:
[code]

I am on Windows using Unity 2019.2.4f1. I have the VEG package (6.9.1) installed.

Any help would be appreciated, thank you.

[2019-09-23 18:24] hallidev commented on #26
Running into the same issue here

[2019-09-23 22:09] hallidev opened #27 "Vorticity / Advection"
I just spent a few hours playing around with FluvioFx and it seems really promising. Is it still being actively developed?

I'm not sure where to reach out with questions, so I figured I'd try here. Can something like this be accomplished with Fluvio?

https://www.youtube.com/watch?v=uY7_JhV51vw

After a few hours of playing with the fluid properties, I wasn't able to achieve any vorticity as seen

[2019-10-10 15:51] Barbelot commented on #27
Hello,
I'm also interested on trying to reproduce some stuffs from Matthias Müller in realtime in Unity and Fluvio and VFX Graph seems really promising for that.
Can I ask what versions of Unity / HDRP / VFX Graph you used to make it work ?
I couldn't get past the compilation errors in Unity 2019.2 (see other issue on this repo).

[2019-10-10 15:59] hallidev commented on #27
@Barbelot I installed 2019.1 to see if it would be suitable for re-creating those effects. 2019.2 is definitely broken at the moment, but if you're just interested in seeing what it can do, give 2019.1 a shot. It worked for me

[2019-10-20 19:54] lmontoute commented on #27
Sorry I missed this one! It's been a busy month.

@Barbelot: See #26 for 2019.2 support.

@hallidev this is a lot trickier to achieve with a FluvioFX fluid since it uses a different CFD method more suited to liquids, fluids affected by gravity, macro-scale details and large particle areas. Fluvio (before FluvioFX) had a vorticity solver, but it was pulled out for FluvioFX. It's doable but requires

[2019-10-20 21:07] lmontoute commented on #16
Unity seems to have provided a solution here! Packages can now support sample assets it seems:

![image](https://user-images.githubusercontent.com/1100891/67166294-ad7d0e80-f353-11e9-85e6-8902201efb7a.png)

I'll look into this to see if we can use the feature for a FluvioFX sample project.

[2019-10-21 12:27] hallidev commented on #27
No worries - thanks for the response! I look forward to seeing how things progress.

[2019-10-26 00:31] lmontoute commented on #26
@hallidev @Barbelot Check out #28 and let me know if this works for you in 2019.2!

Be aware that it may cause wonkiness with older graphs. As always, back up your graphs before upgrading!

[2019-10-30 10:19] Barbelot commented on #26
It's installing perfectly with 2019.2.5f1. Thanks a lot, can't wait to play with it now !

[2019-10-31 12:46] o2co2 opened #29 "Support for modern Unity versions (2019-2021)"
Packages\com.thinksquirrel.fluviofx\Editor\ShaderPostprocessor\ShaderPostprocessor.cs(72,52): error CS0122: 'VFXDataParticle.capacity' is inaccessible due to its protection level

Hope to get help

[2019-11-09 21:11] lmontoute commented on #29
2019.3 support isn't here yet, and probably won't land until it releases. For now you'll want to use 2019.2. Sorry!

[2019-11-09 21:11] #26 closed

[2019-11-10 00:41] MostHated opened #31 "Question about usage"
Hey there,
    I have been looking for a way to try and achieve some nice looking and fairly realistic-looking blood effects in the HDRP. I love the gif demos and such I have seen, but I am not 100% on the use cases in which this system would be ideal, though. Would digging into FluvioFX end up helping me achieve a gory blood squirt/flow/spray by chance or is that not the type of thing the package

[2019-11-12 21:46] lmontoute commented on #31
Hey @MostHated,

That's definitely a valid use case for FluvioFX! You can get real simulated blood animations fairly easily. One caveat might be with blending the blood particles together to make a liquid visual. Unlike the older Fluvio package, we rely on Unity for all rendering with FluvioFX. Unity's VFX graph doesn't have a liquid renderer yet, so your mileage may vary based on how big you make

[2019-11-22 11:31] neobits opened #32 "Performance gains"
Hello Lily.
First of all, thanks for this outstanding fluid sim-engine built in Fluvio, it's very impressive from a technical view point. Right now I'm wondering how to have performance gains with the Fluid System.

Initialize Solver > Space Partitioning > Neighbour Search are a must?
So to get higher framerate: Calc Density and Pressure + Calc Surface Normal + Calc Force blocks can be switched of

[2019-12-04 18:26] #31 closed

[2020-01-09 11:58] haosizheng opened #33 "Bug report: a moving collider will cause a incorrect force caculation."
if i make a Sphere moving through my fluid, sometimes the fluid particles got a very huge speed and splash.
And i try to fix it in computeshader but i didn't find it.

[2020-01-09 13:10] Onat-H commented on #29
Hi, are there  any updates regarding 2019.3 support? Love your work!!

[2020-01-09 23:58] TashaSkyUp commented on #29
Would also love 2019.3 support.. willing to help if you can point me the right direction?

[2020-01-31 18:59] lmontoute commented on #33
Hm, do you have a good case to reproduce or a video?

[2020-01-31 18:59] lmontoute commented on #33
Hm, do you have a good case to reproduce or a video?

[2020-01-31 19:14] lmontoute commented on #32
Hi @neobits,

There are a few things that can help with performance issues. I'll tackle this in order:

Yes, these must be enabled in order for the system to work correctly.

These are also required, as they are the steps that actually calculate the values for the simulation.

Size should only affect the visual size of particles (though this may affect rendering, and therefore overall performance)

[2020-02-05 17:05] AC0793 commented on #29
I am also eagerly looking forward to 2019.3 support. Are there any updates or progress on that? Thanks!

[2020-02-18 17:31] lmontoute commented on #29
I'll try to get on it this weekend. Thanks for the patience folks!

[2020-03-02 12:20] s-t-a-a-l-e commented on #29
The first thing I do in the morning is to check the FluvioFX project status. I hope you will be able to  get it working in 2019.3 (or 2020.1.x) soon. It stopped working in the latest 2019.2 version I use, so that solution is kind of stranded. Thanks!

[2020-03-11 17:05] lmontoute commented on #29
Unfortunately I hit a snag and have had a few full weekends lately. This week is finally looking to open up for me, though!

[2020-03-13 13:06] StickeydM opened #34 "Is the simulation done on CPU or GPU?"
Hey. The question is in the header.

I remember you did GPU accelerated simulation with older fluvio. This newer version works with VFX graph, which is GPU-limited, but it seems to still burn some CPU cycles. Is it done via GPU or CPU?

If on CPU, is it faster than older GPU-accelerated Fluvio?

[2020-03-14 20:59] StickeydM opened #35 "Is there any way to access each particle position and transfer it to external GPU shader?"
Need it to add external screen space fluids shader.

[2020-03-15 03:29] StickeydM opened #36 "How to apply force/impulse to particles?"
Can I apply force/impulse to particles? It seems possible somehow, because you do have gravity.  Can I also apply force/impulse to specific particles based on their position?

[2020-03-15 03:30] StickeydM opened #37 "How to scale the simulation?"
I don't understand how to scale simulation. Reducing density doesn't seem to help. My scene is much bigger and I want particles to be bigger, even though simulation is the same. How to do it?

[2020-03-20 16:27] lmontoute commented on #34
This is GPU simulation. There's some CPU overhead as part of the VFX graph (sending initial data to the GPU and such), but all simulation is calculated on the GPU.

It's _much_, _much_ faster as well. Older Fluvio versions had to sync back up with the CPU every frame, whereas FluvioFX does not need to do this.

[2020-03-20 16:27] #34 closed

[2020-03-20 16:29] lmontoute commented on #35
Not that I know of - I'm not sure if regular shaders can access VFX graph particles. I would be very interested to hear if you're able to do it, though!

[2020-03-20 16:29] #35 closed

[2020-03-20 16:36] lmontoute commented on #36
Yes. There's a force property on each particle that you can modify using regular VFX graph blocks. Just make sure that it is changed _before_ the Integrate Particles block.

[2020-03-20 16:36] #36 closed

[2020-03-20 16:40] lmontoute commented on #37
There are two options:

(This one's a bit tricky, but more accurate and definitely possible) You'll need to increase the smoothing distance, and also tweak the other parameters to match. Scaling fluid simulation is always going to be tough if you are unfamiliar with how each property works.

(This one is easier in theory, but less accurate and I'm unsure if possible) You might be able to modify th

[2020-03-20 16:40] #37 closed

[2020-03-20 16:42] lmontoute commented on #29
Update on this...I've started a bit on an update, but then _everything_ got shifted around at work and home due to well, everything going on right now. So I'm playing it by ear for now. Sorry that this keeps getting delayed!

[2020-04-09 16:16] baughbj opened #39 "Flamethrower Example"
Hello,

This isn't necessarily a bug with the package, but I was wondering if it would be possible to provide an example of a flamethrower using fluvio, like the video example below:

https://www.youtube.com/watch?v=PeNe3QVZ_Yo&list=WL&index=2&t=0s

[2020-04-20 13:39] enginarer commented on #29
Hi, any update on this? Cheers!

[2020-04-23 15:19] AC0793 commented on #29
Hello, I am also interested in any updates or progress on this. Thanks!

[2020-04-27 22:41] lmontoute commented on #29
So sorry for the delay! Still very busy at work here due to COVID, so no ETA at the moment! If anyone would like to help take on this task, let me know and I'd be happy to help point you in the right direction!

[2020-04-27 22:43] lmontoute commented on #39
At the moment, I haven't made the examples available due to a lot of fluctuation in the API (they've been breaking so I'd have to recreate them each time).

Things are a little stable, so once my schedule gets better I can look into uploading the examples.

[2020-04-27 22:43] #39 closed

[2020-05-04 08:11] landonth commented on #29
@lmontoute I'm willing and able to assist on this. I've already been working on some VFX graph extensions of my own and would benefit from FluvioFX functioning on more recent versions.

[2020-05-15 23:43] djspider117 opened #40 "Unity 2019.3 Support"
Hi! I've seen in a prev issue that 2019.3 will be coming and I can relate to having things from work derail plans. To that end, I tried figuring out myself what I can do to at least make it work.

If you remove capacity from the shader preprocesor and keep just
`#define FLUVIO_MAX_GRID_SIZE {(uint)Mathf.Pow(262144, 1.0f / 3.0f)}`

I thought maybe that could work. Unfortunately it did now. Amongst

[2020-05-16 20:36] lmontoute commented on #40
It looks like Unity has changed the various values (mass, size, age, lifetime, etc.) to be under an attributes object. In the shader generation code for the InitializeSolver function, you'd probably want to replace those to just refer to mass, size, age, age lifetime, etc. Or take a look at some of their shaders and update the FluvioFX shaders to match (that might be the better route)

[2020-06-09 03:47] AC0793 commented on #29
@landonth @lmontoute Hello, any progress on this so far? I'm not sure how much I can help yet, but i'm interested in assisting as well.

[2020-06-17 04:16] ahmed3DMindd commented on #29
Library\PackageCache\com.fluvio.fx@a3f3d0ea2f\Editor\ShaderPostprocessor\ShaderPostprocessor.cs(72,52): error CS0122: 'VFXDataParticle.capacity' is inaccessible due to its protection level

[2020-06-17 05:12] landonth commented on #29
@lmontoute Good news! I have made a major breakthrough in the update effort. FluvioFX C# is compiling without error and compiling HLSL compute shaders without error. The only issue that remains is there seems to be an issue with inter-particle forces that I am guessing is related to read or writing bucket or neighbor data. I haven't really gotten into debugging this (hopefully final) issue blockin

[2020-06-17 18:47] lmontoute commented on #29
Heck yeah @landonth ! I greatly appreciate the effort on this.

[2020-06-22 17:20] strangerattractor commented on #29
Whoop, so looking forward to 2019.3 support!

[2020-06-22 18:23] landonth commented on #29
@strangerattractor @lmontoute at this point support seems likely for:
- Unity 2019.4 LTS + Visual Effect Graph 7.4 (I have yet to test but should be trivial)
- Unity 2020.1 (Beta, Official soon) + Visual Effect Graph 8.1 (The version I am working from)

[2020-06-22 18:34] landonth commented on #29
@lmontoute
Things are finicky but mostly working currently with some workarounds I am ironing out, but would of course be grateful for any assistance or guidance

1.  I am having to set Mass and Force attributes manually in their own Update context, but that should be taken care of by the Initialize solver block update context, I know what needs to be done just haven't tackled it yet.
2. There may

[2020-06-22 18:35] landonth commented on #40
@djspider117 FYI, this is a duplicate issue, Please see issue #29 for progress updates.

[2020-06-23 18:50] lmontoute commented on #40
Closing as duplicate

[2020-06-23 18:50] #40 closed

[2020-06-23 18:51] #32 closed

[2020-06-23 18:59] lmontoute commented on #29
In the past that plaid pattern has happened with lower bucket counts due to particles that have too many neighbors (more than the bucket can hold). This caused some particles to be ignored in simulation/pop in and out every frame and created unstable "ripples" at the edges of grid cells.

In older versions of Fluvio (pre-FluvioFX) we actually increased the default bucket size due to this. Not sure

[2020-06-30 08:33] strangerattractor commented on #29
Still holding my breath for this update :-) slowly turning blue now.
Any news?
I'd love to help, but working in the backend of VFX-Graph is clearly beyond me. I would probably be able to help with testing though. Lemme know if I can do anything.

[2020-07-18 15:21] AC0793 commented on #29
@strangerattractor Same here :-)

Do you have any updates, @landonth @lmontoute ? Thanks again for all of your hard work so far!

[2020-08-01 07:28] ShiftedClock commented on #29
@landonth Can you share the progress you've made? I'm interested in picking up from where you left off. If you can share any insights you had, I'd appreciate that.

I really want to experiment with Fluvio in 2020.1. Please let me know if you can share the progress you made, and any barriers you identified to finishing the upgrade. Thanks.

[2020-08-02 04:45] landonth commented on #29
Hey all, currently working on a project deadline for GDC coming up and then i'll be able to put a PR together for my progress on this within the next few weeks. The status is currently the same as my last post, though I also noticed that upgrading Unity Editor seems to invalidate and then break any graphs and they have to be rebuilt that is to say, FluvioFX operators and blocks will disappear and

[2020-08-05 19:14] lmontoute commented on #29
@landonth Thanks again for leading the charge on this! Let me know if you have any thoughts on the invalidation issues, it's happened with pretty much every Unity release and seriously hurts the ability for users to upgrade once they've integrated FluvioFX. Honestly that may need its own issue tracking.

[2020-08-10 22:52] landonth commented on #29
@lmontoute I appreciate it and glad to be a contributor (very soon.) I will publish my fork online here and get some eyes on it to work out the major remaining issues before a PR. And actually glad to hear to invalidation issue was already known. Worst case scenario we live with it and push for the planned VFX graph APIs to make this whole thing easier.

[2020-08-10 23:14] ShiftedClock commented on #29
I don't know how active the Unity Visual Effect team is in checking this board, but it might be useful to provide feedback or guidance to them on particular issues that would help Fluvio support: https://portal.productboard.com/unity/1-unity-graphics/tabs/9-visual-effect-graph

I've submitted details for why I need ComputeBuffer support in VFX Graph, for instance, which is in the "Next Up" categor

[2020-08-14 07:21] lmontoute commented on #29
Thanks for the link! I've been in touch with the VFX Graph team at Unity about our needs, and while admittedly it's been a while, they're aware of some of the issues we've had to work around to make FluvioFX possible.

[2020-08-31 20:56] lmontoute commented on #29
I might have 1-2 days to lend a helping hand with this over the weekend! @landonth if you're interested in sharing your work so far, I'd love to chat about it (here, in a PR, or directly are all fine - just let me know how best to get in touch)

[2020-09-01 01:10] AC0793 commented on #29
@lmontoute @landonth Awesome! I was just about to ask about this again. :-) I can help test this weekend as well.

[2020-09-05 00:54] landonth commented on #29
@lmontoute @AC0793 I will be mostly afk this weekend but I will publish my fork tonight at least so you can take a look over the weekend?

[2020-09-05 12:41] landonth commented on #29
https://github.com/fluviofx/fluviofx/compare/master...landonth:wip2020

[2020-09-05 12:42] landonth commented on #29
@lmontoute https://github.com/fluviofx/fluviofx/compare/master...landonth:wip2020

[2020-11-19 01:23] kirkokuev commented on #29
Hello, so I have tried following to make this work:
1. Cloned repository from github
2. Saved this file https://github.com/fluviofx/fluviofx/compare/master...landonth:wip2020 and applied as patch to downloaded repository
3. Installed Visual Effect Graph 8.1.0 through package manager
4. Installed patched fluviofx with "Add package from disk"
5. Receive "FluvioFX install successful!" in log

And the

[2020-11-19 02:16] landonth commented on #29
@kirkokuev what i recommend is to try the versions of Unity & VFX graph i noted in my last post in this thread. also note the additional steps and known issues.

and feel free to try to get it working on other Unity versions, though the rule of thumb is to always use the VFX graph (or any official package) version that is verified / tested / bundled with that Unity version. e.g. 2020.2 + VFX graph

[2020-11-19 02:24] kirkokuev commented on #29
Thank you @landonth. I will try with exact version of Unity that you used. However it is strange that package manager only gives me VFX graph 8.1 and 8.2 and not 10.x versions.

[2020-12-14 06:30] AC0793 commented on #29
@landonth @lmontoute  So far I also got around 230 errors running Unity 2020.1 with VFX Graph 8.3.1, then I reinstalled FluvioFX and was left with just the one error that we're familiar with:  "D:\fluviofx-master\fluviofx-master\Editor\ShaderPostprocessor\ShaderPostprocessor.cs(72,52): error CS0122: 'VFXDataParticle.capacity' is inaccessible due to its protection level"

I tried again with Unity 2

[2020-12-24 20:10] ShockWave2048 opened #41 "Is it working on project?"
Is it working on project?

[2021-01-05 15:40] Anker13 commented on #29
Hi there!
I have the same problem as @ o2co2. The problem is that the VFXParticle class (included in the UnityEditor.VFX package) has a class variable called "Capacity" that is declared protected. They try to access this variable in the "ShaderPostProcessor" script. I currently don't have a solution to this problem. But if someone can do something with this information, he or she may be able to he

[2021-01-14 12:07] tumml3r commented on #20
I'm having the same issue-- upon installing, I get 230+ errors, mostly 'no suitable method' and 'inaccessible due to protection level'. Supposedly this was fixed with #23 so I'm confused why I'd be having this issue now. Any ideas?

[2021-01-24 04:23] melMass opened #42 "Fluvio & HDRP 10+"
Hi,

I'm just discovering Fluvio FX, it looks amazing!
Thanks for making it open for everyone.

---

I wanted to test it in Unity 2020+ using HDRP 10+.
For some reason (I'm about to look more into it), the initialization of the "Install", is not rerun after each compilation and I have to do it manually. As I'm not embedding the visual effect package, the editor invalidates the access modifications

[2021-01-24 04:42] melMass commented on #42
I was not looking in the proper menu, the block are there, so I tried to recreate the graph based on the stickies:

![image](https://user-images.githubusercontent.com/7041726/105621327-93f42d80-5e06-11eb-930c-140f473417c9.png)
![image](https://user-images.githubusercontent.com/7041726/105621330-99ea0e80-5e06-11eb-93cd-065fe24302d8.png)

But the compute shader fails with the following errors:

![im

[2021-02-08 19:25] lmontoute commented on #41
This is being worked on, yes! Compatibility fixes are being tracked in #29 and I have *finally* set aside some time to get changes merged in + additional fixes for current Unity versions.

[2021-02-08 19:25] #41 closed

[2021-02-08 19:26] lmontoute commented on #42
See #29, where we talk about various compatibility fixes for current Unity versions. I'll keep this open specifically though since I haven't verified how FluvioFX works with Metal at this time.

[2021-02-09 16:15] melMass commented on #29
Amazing contribution @landonth !

[2021-02-19 19:45] hannesdelbeke commented on #16
hi, unity now supports multiple packages in a single repo,
and also there is a way to release your project as a package and unity project on the same repo

this is achieved by using folderpath added to the git url
have a look at this PR i made to add package support to unity project on github :  https://github.com/SebLague/Path-Creator/pull/90

[2021-02-19 19:48] hannesdelbeke commented on #16
and to adress the original comment: i want a project cause i need to know what version oof unity to use etc

https://github.com/fluviofx/fluviofx/blob/master/package.json the json contains minimum unity version and can set dependencies to signal what versions of other packages are needed

[2021-02-28 13:50] enquel opened #43 "[question] Are there any samples?"

[2021-03-03 23:33] mjducharme commented on #29
@landonth it actually works with the newest Unity and VFX graph and HDRP on my system, I had to run the Fluvio installer again after replacing the code with your modified version.

However, there is something a bit odd with the behaviour it seems. When I run old Unity on my other computer and create a default Fluvio graph, it sorta looks like a water fountain by default. When I use the same settin

[2021-03-24 08:12] mjducharme opened #44 "Issue with last commit"
The pull request from neobits/master that was merged completely changes the functionality of Fluvio on my system. Absolutely everything works completely different from before, and it is nearly impossible to get any sort of good results from it whereas it was rather easy to get good results beforehand. I'm not sure why it changes the behavior so greatly. Once I revert that code everything is fine a

[2021-03-29 13:03] mansoor090 commented on #44
Hey there,

Which unity version and vfx version are you using?

Best Regards
just a stranger, passing through.

[2021-03-31 07:55] mjducharme commented on #44
I have run the updated code in question through multiple manual test calculations and it comes up with the same results as the original FluvioFX in the calculator. I understand the new code is trying to make things more efficient by avoiding modulus calculations, and the numerical results seem to be the same as before when I run test values through a calculator, but the results in terms of behavio

[2021-05-15 18:14] enginarer commented on #29
Hi, any update on the new release of the plugin? Or if we need to do the manual work to get fluviofx working on the recent version of Unity, can someone be kind to write a short documentation or checklist explaining what to do?

[2021-07-01 05:35] AC0793 commented on #29
I'm entering this comment to second both of @enginarer 's questions for Unity 2020.3. @lmontoute @neobits @landonth any new progress on fluviofx and documentation? Thanks.

[2021-07-05 11:18] jack19910609 opened #45 "Inaccessible due to its protection level"
Hey guy ! dose this error fixed on unity [2020.3.8f1]

This is my editor Error Log

Library\PackageCache\com.fluvio.fx@d30cc8ba92\Editor\Blocks\Collision\CollisionAABox.cs(9,50): error CS0122: 'CollisionAABox' is inaccessible due to its protection level
Library\PackageCache\com.fluvio.fx@d30cc8ba92\Editor\Blocks\Collision\CollisionAABox.cs(8,6): error CS0122: 'VFXInfoAttribute' is inaccessible due

[2021-07-28 18:51] ubergeekseven commented on #45
Same issue here and imported to see if I could get it working. Would love to access this because it looks amazong.

[2022-02-09 15:49] MELT9000 opened #46 "SDF fluid collider - makes colliding particles crazy fast"
SDF fluid collider - makes colliding particles crazy fast
SDF collider works fine, but has less options

[2022-02-26 04:14] mjducharme commented on #29
@AC0793 @neobits if you want to use this now before my PR has been accepted, you can set the manifest.json dependencies to my own repo:

"com.fluvio.fx": "https://github.com/mjducharme/fluviofx.git"

[2022-02-26 06:16] mjducharme commented on #45
This is a duplicate of an earlier issue: https://github.com/fluviofx/fluviofx/issues/29

[2022-03-11 17:34] Xanduffy opened #47 "'VFXCodeGenerator' already contains a definition for 'OnGenerateCode' Error"
Hey, I'm brand new to trying out Fluvio and pretty new to Unity VFX overall so excuse me if I'm missing something obvious, but I haven't been able to add the package successfully to my project. After installing the package and running Tools>FluvioFX>Install to clear the protection level errors, I am left with a single error message:

Library\PackageCache\com.unity.visualeffectgraph@12.1.2\Editor\C

[2022-03-20 12:28] ShockWave2048 commented on #47
Same error. Can somebody help with this?

[2022-04-07 19:38] gabriverga commented on #29
hi, does it work for version 2021.2.10f1?

[2022-04-07 19:49] mjducharme commented on #29
@gabriverga No, but I believe the only reason for this is that the cylinder seems to be deprecated in 2021, so the cylinder collider doesn't find it. You can probably get it to work for now by referencing the deprecated cylinder in the cylinder collider code until they remove it.

[2022-04-07 19:51] gabriverga commented on #29
Thanks for the reply! Now on which version of unity is it working?

[2022-04-07 19:51] gabriverga commented on #29
@mjducharme Thanks for the reply! now on which version of unity is it working?

[2022-04-07 19:52] mjducharme commented on #47
The official repo only supports up to Unity 2019.2. I've been able to update it myself to work with Unity 2020.3. See https://github.com/fluviofx/fluviofx/issues/29

[2022-04-07 19:53] mjducharme commented on #29
@gabriverga I am running it on Unity 2020.3.28f1.

[2022-04-07 20:33] mjducharme commented on #29
@gabriverga also keep in mind that you have to use my repo for the installation at the moment as this official one has not been updated yet: https://github.com/mjducharme/fluviofx

[2022-04-07 20:51] gabriverga commented on #29
ok perfect, than I use this:

 "com.fluvio.fx": "https://github.com/mjducharme/fluviofx.git"

 on the manifest file, right?

[2022-04-07 20:51] gabriverga commented on #29
@mjducharme @mjd ok perfect, than I use this:

 "com.fluvio.fx": "https://github.com/mjducharme/fluviofx.git"

 on the manifest file, right?

[2022-04-07 20:55] mjducharme commented on #29
@gabriverga yes

[2022-04-07 21:01] gabriverga commented on #29
@mjducharme I pressed on install and it gives me this error:

Packages\fluviofx-master\Editor\ShaderPostprocessor\ShaderPostprocessor.cs(72,52): error CS0122: 'VFXDataParticle.capacity' is inaccessible due to its protection level

[2022-04-07 21:06] mjducharme commented on #29
@gabriverga Are you sure you don't have leftovers from the main fluvio install from the main repo? Another thing you can try is quit Unity and go back in after installing and run the install again, sometimes I find this is necessary.

[2022-04-07 21:12] gabriverga commented on #29
@mjducharme yes I was wrong, now it seems to work. thank you so much!

[2022-04-08 16:15] gabriverga commented on #29
@mjducharme where is it possible to see some of your works with FluvioFX?

[2022-04-24 11:52] kosowski opened #48 "Unity Recorder turns simulation unstable"
Hi! I’ve been unable to create video captures using Unity Recorder. As soon as recording starts, the simulation becomes unstable and particles are expelled in all directions. I guess this is due to long or variable frame times when recording.
Is there anything I can do to solve this?
Can the solver be forced to use an external clock? Maybe setting a constant delta time independent of game time cou

[2022-04-27 23:32] lmontoute commented on #47
Closing this - See #29 for progress on Unity version updates!

[2022-04-27 23:32] #47 closed

[2022-04-27 23:32] lmontoute commented on #45
Closing as dupicate

[2022-04-27 23:32] #45 closed

[2022-04-27 23:36] lmontoute commented on #29
Hey folks!

Other work has kept me quite busy so I haven't been able to take a good look at Fluvio for Unity version updates. Help is still wanted here - @mjducharme feel free to open a PR when you think this is ready to merge upstream and I'd be happy to review/accept it into the official repo!

[2022-04-27 23:37] lmontoute commented on #43
Closing as a duplicate of #15

[2022-04-27 23:37] #43 closed

[2022-04-27 23:41] lmontoute commented on #48
This is due to #24, so we'll want to track that there. I believe it may finally be fixable with the current VFX graph, though!

[2022-04-27 23:41] #48 closed

[2022-04-27 23:50] lmontoute commented on #46
Linking #38 here for reference.

[2022-04-27 23:51] lmontoute commented on #46
Also, we'll go ahead and track this via #44, since I believe @mjducharme is correct here.

[2022-04-27 23:51] #46 closed

[2022-04-27 23:53] lmontoute commented on #33
Likely related to #44, so closing for now.

[2022-04-27 23:53] #33 closed

[2022-04-27 23:53] lmontoute commented on #44
(note: this references #38)

[2022-04-27 23:55] lmontoute commented on #24
Adding help wanted here because this may finally be fixable with a newer VFX graph version, but will probably still need updates to FluvioFX itself.

[2022-04-28 01:01] mjducharme commented on #29
@lmontoute I've submitted the pull request. My solution is probably not perfect, as there is most likely a way of preserving the "attributes." prefix as intended, but it works and behaves exactly the same as on 2019.2. It took me many, many hours to even get this working. My doctoral thesis project uses Fluvio, but I also needed 2020 LTS features, which necessitated me figuring out how to fix this

[2022-04-28 07:08] lmontoute commented on #29
Thanks! I'll take a look at #49 as soon as I can.

That's pretty rad. I would absolutely love to learn more about this whenever you are able!

[2022-04-30 13:10] haosizheng commented on #33
thank you and sorry for did not reply.

[2022-05-09 23:21] gabriverga commented on #29
Hi guys, do you know if it's possible to add some Keijiro assets in the same project with fluvioFX? because every time I go to add its lines of code in the manifest file it goes into error and fluviofx doesn't install correctly.

Can someone help me? Thanks

[2022-05-10 00:02] mjducharme commented on #29
@gabriverga yes it is, but everytime I install something, I have to re-install fluvio again. Sometimes twice before it kicks in and works.

[2022-05-10 12:07] gabriverga commented on #29
@mjducharme I have tried several times, always with the 2020.3.28f1 version with which I can install fluvioFX correctly but when I go to add the assets in the manifest script they are installed correctly and fluvio I cannot install it, I have tried several times to install (by tool - Install..) it but this comes out message:

FluvioFX install successful!
UnityEngine.Debug:Log (object)
FluvioFX.Edi

[2022-05-11 02:54] mjducharme commented on #29
@gabriverga I don't have a lot of time to test this - my suspicion is that one of keijiro's packages is changing or overriding parts of the VFX Graph code also used by Fluvio. I am using a few packages by Keijiro successfully but none of the ones you list. Perhaps one of those is causing the issues - possibly "vfx-extra"?

[2022-06-02 09:12] Nolram12345 commented on #29
What about Unity 2020-2021 LTS compatibility ?

[2022-06-02 17:34] gabriverga commented on #29
@lmontoute  Can't wait! fantastic.
do you already know when it'll be ready?

[2022-06-02 17:40] lmontoute commented on #29
Unfortunately I do not, but I think it'll be sooner rather than later. At the moment this project is pretty much worked on during my free time (my current clients do not have immediate use for the software).

[2022-06-04 00:07] lmontoute commented on #29
Oh uh, sure! And also thank you!

I do work for a mid-size studio making all sorts of games and projects these days! I've also done quite a bit of consulting with Fluvio, from VFX and technical art to scientific research. For example, here's an interactive wall that I helped develop for Crayola: https://vimeo.com/170903339

More info on that project here:
https://www.binteractive.com/post/rainbow-

[2022-06-06 17:54] rhemsuda opened #52 "Documentation for filling a volume"
I understand that there’s no documentation and that it may not be top priority, so would you be able to provide a quick example of how to set up Fluvio for say filling up a glass or even simply spreading out on a table?

I’ve been struggling to make the VFX graph interact with outside influences.

If this isn’t the right place for a request like this, please close this ticket 🙂 if there is a disco

[2022-06-25 02:15] GianMauricio opened #53 "Namespace CollisionCone errors"
Hello!

I was recently recommended FluvioFX by one of my professors, after importing it into my current project, I got the following error message:

![image](https://user-images.githubusercontent.com/44298742/175754295-d6a1c94c-df9e-4f30-8c58-5656299bb05a.png)

I'm not sure what's going on since I tried to open the script the errors were supposedly coming from (CollisionCylinder.cs) but Visual Stu

[2022-06-27 04:01] GianMauricio commented on #53
Solved by using this fork of Fluvio: https://github.com/mjducharme/fluviofx

[2022-06-27 04:02] #53 closed, assigned to nobody

[2022-07-14 08:10] lilyvelour commented on #53
Ah yeah, this was renamed in 2021 unfortunately! For 2020 I'd recommend the fork, since I unfortunately can't support multiple LTS releases right now.

(if someone wants to enable support for 2020 and 2021 at the same time, I'm open to PRs!)

[2022-07-28 09:55] Dante-LilyWhite commented on #29
Hi
I encountered the below issues. How can I fix this?
----------------
Library\PackageCache\com.fluvio.fx@ef71b9444e\Editor\Blocks\Collision\CollisionCylinder.cs(34,45): error CS0115: 'CollisionCone.includes': no suitable method found to override

same 7 error were occured
----------------

My environment is here
・Unity 2019.3.14
・VFX Graph 7.7.1

Best regards